* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100%;
	color: #513B56;
	min-width: 500px;
}

h1 {
	text-align: center;
}

.main-container {
	width: 100%;
}

.main {
	width: 500px;
	margin: 0 auto;
}

.stroke {
	fill: none;
	stroke: #cbcbcb;
	stroke-width: 1px;
}

.fill {
	fill: #4C8FA5; //#348AA7;
	fill-opacity: 1;
}

.graticule {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
	stroke-opacity: 0.25;
}

.land {
	/*stroke: #6D6D72;
	stroke-opacity: .5;*/
	fill: #92D3B6;//#5DD39E;
	fill-opacity: 1;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-width: .5px;
}

#time-picker, #date-picker {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.ortho-time {
	font-weight: bold;
	font-size: 2rem;
	display: flex;
	flex-direction: row;
	padding: .5rem;
}

#current-time {
	margin-right: .5rem;
}

#current-tz {
	flex-grow: 1;
}

.time-travel button {
	color: #fff;
	background-color: #348AA7;//#525174;
	font-size: 1.5rem;
	border-radius: .2rem;
	cursor: pointer;
	margin: .5rem;
}

.ortho-container {
	position: relative;
	width: 450px;
	margin: 0 auto;
}

#epic-img-container {
	position: absolute;
	top: 0;
	left: 0;
}

#epic-img {
	height: 450px;
	width: 450px;
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

body.show-epic {
	background-color: #000;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

body.show-epic #epic-img {
	opacity: 1;
}

body.show-epic .ortho-time, body.show-epic h1 {
	color: #b2b2b2;
	-webkit-transition: color 1s;
	transition: color 1s;
}

.datetime-form {
	display: flex;
	flex-flow: row wrap;
	padding: .5rem;
}
.datetime-form input {
	flex-grow: 1;
}
.time-travel {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#do-time-jump, #do-time-travel {
	font-weight: 500;
	padding: 1rem;
	flex-grow: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	#do-time-jump, #do-time-travel {
		font-size: 2rem;
	}
}
